@charset "utf-8";
/* CSS Document */
#container{
	width: 1000px;
	margin: 0px auto;
	border: 1px solid #EA11CA;
}
header{
	border: 0px solid;
	background-color: rgba(39,39,39,0.3);
	height: 25px;
}
#login{
	margin: -6px;
	margin-right: 20px;
	float: right;
}
#login img{
	position: relative;
	top : 6px;
}
#logo{
	clear: both;
}
div#login a{
	color: black;
	text-decoration: none;
}
nav{
	clear:both;
	background-color:#1D6204;
	height:50px;
	border-bottom: 3px solid red;
}
nav ul{
	float:left;
	list-style:none;
}
nav div#sub{
	width:1400px;
	margin:0px auto;
}
nav ul li {
	position: relative;
	right: 30px;
	float:left;
	padding: 3px 30px 0px 15px;
}
nav ul li a{
	font-family:"Times New Roman";
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	color:white;
}
nav ul li a:hover{
	font-style: italic;
}
nav div#sub>div{
	float:right;
	background-color:white;
	padding-left:10px;
	margin-top:5px;
	margin-right:430px;
	height:34px;
	width:200px;
	border:0.5px solid #CED2DD;
	border-radius:5px;
}
nav div#sub>div input[type=text]
{
	float:left;
	height:30px;
	width:150px;
	font-size:13px;
	border:none;
}
nav div#sub>div a
{
	float:right;
	padding-top: 5px;
	height:33px;
	width:40px;
}

article{
	background-color:;
	width: 100%;
}
section{
	width: 73%;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 3px;
	float:left;
}
fieldset#dangky p{
	background: linear-gradient(#a5b4c4, #206AB5, #206AB5);
	text-align: center;
	font-weight: bold;
}
input#sm[type=submit],input[type=reset]{
	background-color: #206AB5;
	height: 50px;
	width: 130px;
	border-radius: 3px;
	border: 0px solid;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 10px;
}
#tensp{
	text-align: left;
	float: right;
}
#picture{
	float:left
}
#picture:hover{
	transform: scale(1.1);
}
footer{
	background-color:aqua;
	height: 290px;
	width: 100%;
	text-align:left 10px;
	top: 10px;
	clear:both;
	position: relative;
}
footer b{
	position: relative;
	top: 5px;
	left: 10px;
}
.footerall{
	text-align: center;
	margin: 0px auto;
	width: 1000px;
}
#footerleft, #footerright{
	display: table-cell;
	vertical-align: top;
}