@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
}
#container{
	width: 700px;
	margin: 0px auto;
}
fieldset#dangky p{
	text-align: center;
	font-weight: bold;
}
fieldset{
	background-color:#A9A9A9;
}
input#sm[type=submit],input[type=reset]{
	background-color: #206AB5;
	height: 30px;
	width: 100px;
	border-radius: 3px;
	border: 0px solid;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 10px;
}
input#sm[type=submit]:hover,input[type=reset]:hover{
	background-color:red;
	font-style: oblique;
	transform: scale(1.3);
}
.in{
	margin: 40px;
} 
.mid{
	text-align: center;
	margin: 10px;
	margin-right: 240px;
}
#picture:hover{
	transform: scale(1.1);
}
