@charset "utf-8";
/* CSS Document */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
#container{
	width: 1000px;
	margin: 0px auto;
	border: 1px solid #EA11CA;
}
header{
	border: 0px solid;
	background-color: rgba(39,39,39,0.3);
	height: 25px;
}
#login{
	margin: -6px;
	margin-right: 20px;
	float: right;
}
#login img{
	position: relative;
	top : 6px;
}
#logo{
	clear: both;
}
div#login a{
	color: black;
	text-decoration: none;
}
nav{
	clear:both;
	background-color:#1D6204;
	height:50px;
	border-bottom: 3px solid red;
}
nav ul{
	float:left;
	list-style:none;
}
nav div#sub{
	width:1600px;
	margin:0px auto;
}
nav ul li {
	position: relative;
	right: 30px;
	float:left;
	padding: 3px 30px 0px 15px;
}
nav ul li a{
	font-family:"Times New Roman";
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	color:white;
}
nav ul li a:hover{
	font-style: italic;
}
nav div#sub>div{
	float:right;
	background-color:white;
	padding-left:10px;
	margin-top:5px;
	margin-right:205px;
	height:34px;
	width:200px;
	border:0.5px solid #CED2DD;
	border-radius:5px;
}
nav div#sub>div input[type=text]
{
	float:left;
	height:30px;
	width:150px;
	font-size:13px;
	border:none;
}
nav div#sub>div a
{
	float:right;
	padding-top: 5px;
	height:33px;
	width:40px;
}

article{
	width: 100%;
}
aside{
	width: 25%;
	margin: 10px;
	float:left;
}
aside>div>ul>li>a{
	text-decoration: none;
}
section{
	width: 73%;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 3px;
	float:right;
}
nav{
	clear:both;
	background-color:#1D6204;
	height:50px;
	border-bottom: 3px solid red;
}
nav div#sub{
	width:1170px;
	margin:0px auto;
}


footer{
	background-color:aqua;
	height: 290px;
	width: 100%;
	text-align:left 10px;
	clear:both;
	position: relative;
}
footer b{
	position: relative;
	top: 5px;
	left: 10px;
}

.banner{
	margin: 5px;
	width: 800px;
	box-shadow: 0px 0px 0px 1px blue;
}
.sach{
	width: 230px;
	height: 310px;
	margin: 3px;
	text-align: center;
	float: left;
}
.tensach{
	margin-top: 20px;
	margin-bottom: 25px;
	vertical-align: top;
	height: 10px;
}
.hinhsach{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 150px;
	height: 190px;
	transition: all 0.5s ease;
}
.hinhsach:hover{
	transform: scale(1.1);
}
.dongia{
	
	font-size: 15px;
}
.gia{
	font-weight: bold;
}
.datmua:hover{
	transform: scale(1.1);
}
.footerall{
	text-align: center;
	margin: 0px auto;
	width: 1000px;
}
#footerleft, #footerright{
	display: table-cell;
	vertical-align: top;
}
.dropdown {
	height: 2px;
	background-color: #BEBEBE;
	border-bottom: 1px solid;
	text-align: center;
  	position: relative;
  	display: inline-block;
	
}
.dropdown b{
	position: relative;
	bottom: 5px;
}
.dropdown-content {
	display: none;
 	position: absolute;
  	top: 0px;
  	left: 180px;
  	min-width: 260px;
  	box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.2);
  	z-index: 1px;
}
.dropdown-content a{
	text-decoration: none;
}
.dropdown-content ul{
	padding-left: 15px;
	list-style: none;
}
.dropdown-content ul li{
	padding-top: 8px;
}
.dropdown:hover .dropdown-content {
  	display: block;
}
.dropdown:hover{
	cursor: pointer;
	background-color: red;
}
.dropdown-content ul li:hover a{
	cursor: pointer;
	font-weight: bold;
}
.button{
	margin-top: 1000px;
	margin-bottom: 20px;
	text-align: center;
}
.button ul li a{
	text-decoration: none;
	color: white;
}
.button ul li a{
	padding: 15px 20px;
	background-color: black;
	border-radius: 30px;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	border: none;
	margin-top: 20px;
	margin-bottom: 100px;
}
.button .bt a:hover{
	background-color: wheat;
	color: black;
}
.button ul li{
	display: inline-block;
	padding: 10px 20px;
	text-transform: uppercase;
}